.nav a{
  /* display: flex; */
  /* flex-direction: column; */
  /* flex-wrap: nowrap; */
  justify-content: space-between;
  text-decoration: none;
  color: rgb(255, 133, 198);
  width: 100%;
}

.Footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header{
  font-family: 'Times New Roman', Times, serif;
  font-size: 4em;
  color: rgb(255, 133, 198);
}
h2{
  
}